@charset "utf-8";
/* CSS Document */
body{
	background-color:rgb(8,252,254);
	font-family: myfont;
}
a{
	text-decoration:none;
}
b{
		margin:auto;
}
#wrapper{
	max-width:940px;
	margin:auto;

}
#textalign-center{text-align:center}
nav a:hover{
	color:#39F
}


